// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px/16
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;
$bp-xs: 28.85em; //420px;

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px;
  font-family: 'montserrat';
  line-height: 1.6;
  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
  @media only screen and (max-width: $bp-xs) {
    font-size: 40%;
  }
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
h1,
h2 {
  margin: 0;
}
.grid-container {
  display: grid;
  grid-template-rows: repeat(14, min-content); //1140px/8=14rem
  grid-template-columns: 1fr repeat(10, minmax(min-content, 14rem)) 1fr;
}
// @media only screen and (max-width: $bp-medium) {
//   grid-template-rows: repeat(14, min-content); //1140px/8=14rem
//   grid-template-columns: 1fr repeat(10, minmax(min-content, 14rem)) 1fr;
// }
