.home {
  height: 100vh;
  grid-row: 1 / span 4;
  grid-column: 1 / -1;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url('../images/hero4.jpg');
  object-fit: cover;
  background-position: top;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
