.home {
  height: 100vh;
  grid-row: 1 / span 4;
  grid-column: 1 / -1;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url('../images/hero4.jpg');
  object-fit: cover;
  background-position: top;
  background-size: cover;

  .header {
    grid-row: 1 / span 2;
    grid-column: 1 / -1;
    background-color: rgba($color-primary, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    min-height: fit-content;
    .logo {
      grid-column: 2 / span 1;
      background-image: linear-gradient(
        left,
        $color-white,
        $color-white 20%,
        transparent 20%,
        transparent
      );
      color: $color-black;
      font-size: 1.5rem;
      font-weight: 600;
      margin: 2rem 2rem 0 2rem;
      padding: 0 2rem 0 1rem;
      max-width: 12rem;
      display: flex;
      align-items: center;
      @media only screen and (max-width: $bp-xs) {
        font-size: 1.2rem;
      }
    }
    .nav {
      grid-column: 4 / span -1;
      font-weight: 550;
      display: flex;
      justify-content: space-between;
      padding: 2rem;
      @media only screen and (max-width: $bp-xs) {
        flex-direction: column;
      }
      &_item {
        &_link {
          padding: 1rem;
          color: $color-white;
          font-size: $default-font-size;
          &:hover {
            color: rgba($color-primary-dark, 0.8);
          }
          &:active {
            color: $color-primary-dark;
          }
          @media only screen and (max-width: $bp-xs) {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

.hero {
  background-color: rgba($color-primary-darkest, 0.5);
  grid-column: 1/ -1;
  grid-row: 3;
  display: grid;
  height: fit-content;
  @media only screen and (max-width: $bp-xs) {
    grid-row: 4;
    font-size: 1.8rem;
  }
  &_title {
    padding: 2rem;
    grid-column: 2 / span 2;
    color: $color-white;
    font-size: 4.5rem;
    font-weight: 650;
    &:hover {
      color: $color-primary-darkest;
    }
    @media only screen and (max-width: $bp-xs) {
      grid-row: 4;
      font-size: 3.2rem;
    }
  }
}
